<!DOCTYPE html>
<html>
<head>
  <title>VolunteerMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if volunteer_signed_in? %>
  <%= link_to('Logout', destroy_volunteer_session_path) %>
<% elsif organization_signed_in? %>
  <%= link_to('Logout', destroy_organization_session_path) %>
<% end %>

<%= yield %>

</body>
</html>
