<!DOCTYPE html>
<html>
<head>
  <title>VolunteerMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display|Cinzel+Decorative|Merienda|Leckerli+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <!-- list.js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
  <script src="http://listjs.com/no-cdn/list.pagination.js"></script>

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
</head>
<body>
  <div class="container">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <%= form_for :search, url: searches_path, method: :post do |f| %>
            <%= f.text_field :entry %>
            <%= f.submit "Search", class: "btn btn-large btn-primary" %>
          <% end %>
        </div>
       </div>



    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <% unless volunteer_signed_in? || organization_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Sign in <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a id="volunteer_modal_trigger" href="#modal_volunteer_sign_in">As a Volunteer</a></li>
              <li><a id="organization_modal_trigger" href="#modal_organization_sign_in">As a Organization</a></li>
            </ul>
          </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if volunteer_signed_in? %>
            <li><%= link_to('Profile', volunteer_path(current_volunteer)) %></li>
            <li><%= link_to('Logout', destroy_volunteer_session_path) %></li>
        <% elsif organization_signed_in? %>
            <li><%= link_to('Profile', organization_path(current_organization)) %></li>
            <li><%= link_to('Logout', destroy_organization_session_path) %></li>
        <% end %>

        <% unless volunteer_signed_in? || organization_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Sign up <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a id="volunteer_registration_modal_trigger"href="#modal_volunteer_registration">As a Volunteer</a></li>
              <li><a id="organization_registration_modal_trigger"href="#modal_organization_registration">As a Organization</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="jumbotron">
      <div class="title_box">
        <h2>Volunteer.me</h2>
        <h3>Volunteering made easy.</h3>
      </div>

      <p><%= link_to 'Explore', events_path, class: "btn btn-success btn-lg" %></p>
    </div>
  <!-- volunteer sign in -->
<div id="modal_volunteer_sign_in" class="popupContainer" style="display:none;">
    <header class="popupHeader">
      <span class="header_title">Volunteer Login</span>
      <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>

      <section class="popupBody">
      <div class="user_login">
      <%= form_for(:volunteer, url: volunteer_session_path) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <a class="forgot_password" href="#">Forgot password?</a>
      </div>
      </section>
  </div>
  <!-- organization sign in -->
    <div id="modal_organization_sign_in" class="popupContainer" style="display:none;">
      <header class="popupHeader">
        <span class="header_title">Organization Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
      </header>

        <section class="popupBody">
        <div class="user_login">
        <%= form_for(:organization, url: organization_session_path) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        <a class="forgot_password" href="#">Forgot password?</a>
        </div>
        </section>
    </div>

  <!-- volunteer registration -->
  <div id="modal_volunteer_registration" class="popupContainer" style="display:none;">
      <header class="popupHeader">
        <span class="header_title">Volunteer Registration</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
      </header>

        <section class="popupBody">
        <div class="user_login">
        <%= form_for(:volunteer, url: volunteer_registration_path) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>

        </div>
        </section>
    </div>

    <!-- organization registration -->

    <div id="modal_organization_registration" class="popupContainer" style="display:none;">
        <header class="popupHeader">
          <span class="header_title">Organization Registration</span>
          <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>

          <section class="popupBody">
          <div class="user_login">
          <%= form_for(:organization, url: organization_registration_path) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>

          </div>
          </section>
      </div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

  </div>
</body>


<div id="footer">
  <div class="container">
    <table id="foot">
      <thead>
        <tr>
          <th><h3>Our Team</h3></th>
          <th><h3>Our Project</h3></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to 'About', team_path %></td>
          <td><%= link_to (image_tag "github-logo.png", size: "33x30"), "https://github.com/dmarquezdlt/volunteer.me" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</html>


