<div class="search_bar">
      <%= bootstrap_form_for :search, layout: :inline, label_col: "col-sm-2", control_col: "col-sm-10", url: searches_path, method: :post do |f| %>

        <%= f.date_field :date %>

        <%= f.time_field :time_start %>

        <%= f.select(:commitment_type, commitment_array) %>

        <%= f.select(:state, state_array) %>

        <%= f.submit "Search", class: "btn btn-large btn-success"%>
      <% end %>
   </div>





<div class="container">
  <div class="results">
  <% @events.each do |event| %>
  <ul>
    <li>
      <div class="col-sm-4 event-image">

      <img src="http://2xxuz23rft0449gqis2s2t0l.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/gi-icon-hands-blue.png" height="200px" width="180px">
      </div>

      <div class="col-sm-8" >
        <h3 class="name"><%= link_to event.name, event_path(event) %> | Hosted by: <%= link_to event.organization.name, organization_path(event.organization) %></h3>
        <p class="description"><%= event.description %></p>
        <p class="commitment">Commitment: <strong><%= event.commitment_type %></strong></p>
        <% if event.commitment_type == "pro-bono" || event.commitment_type == "mentorhship" || event.commitment_type == "other" || event.commitment_type == "flexible" %>
        <p> Ongoing </p>
        <% else %>
        <p>When: <span class="date"><%= event.date.strftime("%a, %b %e, %Y ") %></span> from <span class="time"><%= event.time_start.strftime("%l:%M %P") %></span>  to <%= event.time_end.strftime("%l:%M %P") %></p>
        <% end %>
        <p>Where: <%= event.city %>, <span class="state"><%= event.state %></span></p>
        <p>SPOTS: <%= event.spots %></p>
      </div>
    </li>

  </ul>
  <% end %>

  <center><%= will_paginate @events, renderer: BootstrapPagination::Rails %></center>
</div>
</div>

