<% if @org.name == nil %>

  <h1>Create Your Organization's Profile</h1>

  <%= form_for :organization, url: organization_path(@org), method: :patch do |f| %>

    <p>
      <%= f.label :Organization_Name %><br>
      <%= f.text_field :name, required: true %>
    </p>

    <p>
      <%= f.label :category %><br>
      <%= f.select :category, ['Animals', 'Environmental', 'Health', 'Education', 'Art&Culture', 'Social Services', 'Advocacy', 'Other'], required: true %>
    </p>

    <p>
      <%= f.label :Mission_Statement %><br>
      <%= f.text_area :bio,  :cols => "50", :rows => "9", required: true, placeholder: "What your organization is all about" %>
     </p>
    <p>
      <%= f.label :Website %><br>
      <%= f.url_field :website, required: true, placeholder: "http://" %>

    </p>

    <p>
      <%= f.label :Phone %><br>
      <%= f.telephone_field :phone, required: true,  placeholder: "(888) 999-9999" %>
    </p>

    <p>
      <%= f.label :Address %><br>
      <%= f.text_field :address %>
    </p>

    <p>
      <%= f.label :City %><br>
      <%= f.text_field :city  , required: true%>
      <%= f.select :state,  state_array, required: true %>
    </p>


    <p>
      <%= f.submit "Submit" %>
    </p>

  <% end %>

<% else %>
  <h1>Edit Your Organization's Profile</h1>

    <%= form_for :organization, url: organization_path(@org), method: :patch do |f| %>

      <p>
        <%= f.label :Organization_Name %><br>
        <%= f.text_field :name, value: @org.name, required: true %>
      </p>

      <p>
        <%= f.label :category %><br>
        <%= f.select :category, ['Animals', 'Environmental', 'Health', 'Education', 'Art&Culture', 'Social Services', 'Advocacy', 'Other'], selected: @org.category, required: true  %>
      </p>

      <p>
        <%= f.label :Mission_Statement %><br>
        <%= f.text_area :bio,  :cols => "50", :rows => "9", value: @org.bio, required: true  %>
       </p>
      <p>
        <%= f.label :Website %><br>
        <%= f.url_field :website, value: @org.website, required: true  %>
      </p>

      <p>
        <%= f.label :Phone %><br>
        <%= f.telephone_field :phone, value: @org.phone, required: true %>
      </p>

      <p>
        <%= f.label :Address %><br>
        <%= f.text_field :address, value: @org.address %>
      </p>

      <p>
        <%= f.label :City %><br>
        <%= f.text_field :city, value: @org.city, required: true  %>
        <%= f.select :state,  state_array, selected: @org.state, required: true  %>
      </p>


      <p>
        <%= f.submit "Submit" %>
      </p>
  <% end %>

<% end %>

<%= link_to 'Back', organization_path %>