
      <% if organization_signed_in?%>
        <% if current_organization.id == @org.id %>

          <% if  @org.name == nil  %>
            <%= link_to 'Create a Profile', edit_organization_path(@org.id) %> to post your volunteering opportunities.
          <% end %>

            <% if organization_signed_in?%>
              <p><%= link_to 'Edit Profile', edit_organization_path(@org.id) %></p>
              <p><%= link_to 'Create Event', new_organization_event_path(@org.id) %></p>
              <p><%= link_to 'Delete Account', organization_path(@org.id), method: :delete %></p>
          <% end %>
        <% end %>
       <% end %>

      <div class="org_name"><%= @org.name %></div>

        <div class="col-md-6">
          <div class="org_info">
            <h3> We care about <%= @org.category %></h3>
            <p> <%= @org.bio %> </p>

          </div>
        </div>

        <div class="col-md-6 col-sm-4">
                    <div class="org_info">

          <h3><a href="<%= @org.website %>">Visit Website </a></h3>
            <p> Address: <%= @org.address%>, <%= @org.city %>,<%= @org.state %> </p>
          </div>
        </div>


  <div class="col-md-12">

    <div class="org_opp"><h2>Volunteer opportunities hosted by us.</h2></div>
    <% if @org.events.empty? %>
    <center><h4>You currently have no events.</h4></center>
    <center><h4><%= link_to 'Click here to create event', new_organization_event_path(@org.id) %></h4></center>
    <% else %>
    <% @org.events.order(:date).limit(3).each do |event| %>
     <div class="table">
        <div class="col-xs-6 col-md-4">
          <div class="thumbnail">
            <img src="http://2xxuz23rft0449gqis2s2t0l.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/gi-icon-hands-blue.png" height="500px" width="250px">
            <div class="caption">
              <div>
              <h3><%= link_to event.name, event_path(event) %></h3>

              <h4><%= event.organization.name %></h4>

              <% if event.commitment_type == "pro-bono" || event.commitment_type == "mentorhship" || event.commitment_type == "other" || event.commitment_type == "flexible" %>
              <h5>Ongoing</h5>
              <% else %>
              <h5><%= event.time_start.strftime("%l:%M %P") %> - <%= event.time_end.strftime("%l:%M %P") %> | <%= event.date.strftime("%a, %b %e, %Y ") %></h5>
              <% end %>

            <p><a href=<%= event_path(event) %> class="btn btn-default" role="button">Details</a></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <% end %>

  </div>


