<<<<<<< HEAD
ORG PROFILE PAGE
 <%= current_organization.id %>
<% if organization_signed_in?%>
you are an org
<%= link_to 'Make a Profile', edit_organization_path(@org.id) %>
<%= link_to 'Create an Event', new_organization_event_path(@org) %>
<% end %>
=======
<div>

  <div>
    <% if organization_signed_in?%>
      <% if current_organization.id == @org.id %>

        <% if  @org.name == nil  %>
          <div><%= link_to 'Create a Profile', edit_organization_path(@org.id) %> to post your volunteering opportunities.<div>
        <% else %>
          <% if organization_signed_in?%>
            <div>
              <p>Welcome, <%= @org.name %></p>
              <%= link_to 'Edit Profile', edit_organization_path(@org.id) %>
              <%= link_to 'Create Event', new_organization_event_path(@org.id) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
     <% end %>
</div>

>>>>>>> 8f75bc5794727718c1f141d4e22fab71d935f29b
<div>
<p> <%= @org.name %> </p>
<p> Category: <%= @org.category %> </p>
<p> Bio: <%= @org.bio %> </p>
<p> Phone: <%= @org.phone %> </p>
<p> <a href="<%= @org.website %>">Visit Website </a> </p>
<p> Address <%= @org.address %>, <%= @org.city %>, <%= @org.state %> </p>
</div>

<h3>Upcoming Events</h3>

<div>
  <ul>
    <% @org.events.each do |event| %>
      <li>
        Event: <%= link_to event.name, organization_event_path(@org, event) %> |
        <%= event.description %>,
        REQUIREMENTS: <%= event.requirements %> ,
        Commitment: <%= event.commitment_type %> ,
        Date: <%= event.date %> ,
        Starts: <%= event.time_start.strftime("%r") %> ,
        Ends: <%= event.time_end.strftime("%r") %> ,
        Address: <%= event.address %>, <%= event.city %>, <%= event.state %>
        # of spots: <%= event.spots %>

      </li>
      <% end %>
  </ul>

</div>
</div>
<% if organization_signed_in?%>
  <% if current_organization.id == @org.id %>
    <%= link_to 'Delete Account', organization_path(@org.id), method: :delete %>
  <% end %>
<% end %>



