
  <div>
    <% if organization_signed_in?%>
      <% if current_organization.id == @org.id %>

        <% if  @org.name == nil  %>
          <div><%= link_to 'Create a Profile', edit_organization_path(@org.id) %> to post your volunteering opportunities.<div>
        <% else %>
          <% if organization_signed_in?%>
            <div>
              <p>Welcome, <%= @org.name %></p>
              <%= link_to 'Edit Profile', edit_organization_path(@org.id) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
     <% end %>
</div>

<div>
<p> <%= @org.name %> </p>
<p> Category: <%= @org.category %> </p>
<p> Bio: <%= @org.bio %> </p>
<p> Phone: <%= @org.phone %> </p>
<p> <a href="<%= @org.website %>">Visit Website </a> </p>
<p> Address <%= @org.address %>, <%= @org.city %>, <%= @org.state %> </p>
</div>


<h3>Upcoming Events</h3>

<div>
  <ul>
    <% @org.events.each do |event| %>
      <li>
        <h3 class="name"><%= link_to event.name, event_path(event) %> | Hosted by: <%= link_to event.organization.name, organization_path(event.organization) %></h3>
    <p class="description"><%= event.description %></p>
    <p class="commitment">Commitment: <strong><%= event.commitment_type %></strong></p>
    <p>When: <span class="date"><%= event.date.strftime("%a, %b %e, %Y ") %></span> from <span class="time"><%= event.time_start.strftime("%l:%M %P") %></span>  to <%= event.time_end.strftime("%l:%M %P") %></p>
    <p>Where: <%= event.city %>, <span class="state"><%= event.state %></span></p>
    <p>SPOTS: <%= event.spots %></p>
      </li>
      <% end %>
  </ul>

</div>
</div>
<% if organization_signed_in?%>
  <% if current_organization.id == @org.id %>
   <p><%= link_to 'Create Event', new_organization_event_path(@org.id) %></p>

    <%= link_to 'Delete Account', organization_path(@org.id), method: :delete %>
  <% end %>
<% end %>



