<div class="container">

  <% unless @search.entry == nil%>
  <h2>You searched "<%= @search.entry %>"...</h2>
  <% end %>

  <% if @matches.empty? %>
  <p>No volunteer opportunities match your search. <%= link_to "Try again", root_path  %></p>
  <% else  %>
  <div id="matches-list">
    <center>
    <input class="search" placeholder="Search" />
      <button class="sort" data-sort="state">
              Sort by State
      </button>
      <button class="sort" data-sort="date">
            Sort by Date
      </button>
      <button class="sort" data-sort="time">
              Sort by Time
      </button>
      <button class="sort" data-sort="commitment">
              Sort by Commitment Type
            </button>
    </center>

    <div class="results">
      <ul class="list">
        <%@matches.each do |match| %>
        <% if  match.searchable_type == "Event" %>

        <li>
          <div class="col-sm-4 event-image">

          <img src="http://2xxuz23rft0449gqis2s2t0l.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/gi-icon-hands-blue.png" height="200px" width="180px">
          </div>

          <div class="col-sm-8" >
          <h3 class="name"> <%= link_to match.searchable.name,  event_path(match.searchable) %></h3>
          <p class="description"><%= match.searchable.description %></p>
          <p class="commitment">Commitment: <strong><%= match.searchable.commitment_type %></strong></p>
          <% if match.searchable.commitment_type == "pro-bono" || match.searchable.commitment_type == "mentorhship" || match.searchable.commitment_type == "other" || match.searchable.commitment_type == "flexible" %>
          <p> Ongoing </p>
          <% else %>
          <p>When: <span class="date"><%= match.searchable.date.strftime("%a, %b %e, %Y ") %></span> from <span class="time"><%= match.searchable.time_start.strftime("%l:%M %P") %></span>  to <%= match.searchable.time_end.strftime("%l:%M %P") %></p>
          <% end %>
          <p>Where: <%= match.searchable.city %>, <span class="state"><%= match.searchable.state %></span></p>
          <p>SPOTS: <%= match.searchable.spots %></p>
          </div>
        </li>
        <% else %>
        <li>
          <div class="col-sm-4 event-image">

          <img src="http://2xxuz23rft0449gqis2s2t0l.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/gi-icon-hands-blue.png" height="200px" width="180px">
          </div>

          <div class="col-sm-8" >
            <h3 class="name"><%= link_to match.searchable.name,  organization_path(match.searchable)%></h3>
            <p class="email">Contact: <%= match.searchable.email %></p>
            <p class="category">Category: <%= match.searchable.category %></p>
            <p class="bio">Bio: <%= match.searchable.bio %></p>
          </div></li>
          <% end %>
          <% end %>
        </ul>
        <ul class="pagination"></ul>
        </div>
  </div>

  <!-- <center><%#= will_paginate @matches, renderer: BootstrapPagination::Rails %></center> -->
<% end %>

</div>