<div class="container about">
    <div class="col-sm-4 profile-image">
    <img src="https://avatars0.githubusercontent.com/u/6426390?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8">
      <h2>Hannah Sison</h2>
      <h4>CTO & Co-Founder</h4>
      <p><%= Faker::Lorem.paragraph(5) %></p>
    </div>
</div>

<div class="container about">
    <div class="col-sm-4 profile-image">
    <img src="https://avatars1.githubusercontent.com/u/6646067?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8">
      <h2>Diana Marquez</h2>
      <h4>CTO & Co-Founder</h4>
      <p><%= Faker::Lorem.paragraph(5) %></p>
    </div>
</div>

<div class="container about">
    <div class="col-sm-4 profile-image">
      <img src="https://avatars0.githubusercontent.com/u/8811016?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8">
      <h2>Andrés Macedo</h2>
      <h4>CTO & Co-Founder</h4>
      <p><%= Faker::Lorem.paragraph(5) %></p>
    </div>
</div>

<div class="container about">
    <div class="col-sm-4 profile-image">
      <img src="https://avatars3.githubusercontent.com/u/8348320?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8">
      <h2>Amadou Sallah</h2>
      <h4>CTO & Co-Founder</h4>
      <p><%= Faker::Lorem.paragraph(5) %></p>
    </div>
</div>

<div class="container about">
    <div class="col-sm-4 profile-image">
      <img src="https://avatars0.githubusercontent.com/u/8680734?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8" >
      <h2>Richard Chen</h2>
      <h4>CTO & Co-Founder</h4>
      <p><%= Faker::Lorem.paragraph(5) %></p>
    </div>
</div>

