
<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Edit Profile</h1>

  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
      </div>

<<<<<<< HEAD
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        Edit your profile.
      </div>
      <h3>Personal info</h3>
=======
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true%>
   </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email, required: true%>
  </p>
>>>>>>> 62f8ee65108b74e082249cc812dd101abf2f12eb


        <%= form_for :volunteer, url: volunteer_path(@volunteer), method: :patch do |f| %>

          <%= f.label :name, class: "col-lg-3 control-label" %>
          <div class="col-lg-9">
          <%= f.text_field :name,  class: "form-control"%><br>
          </div>

          <%= f.label :email, class: "col-lg-3 control-label" %>
          <div class="col-lg-9">
          <%= f.text_field :email, class: "form-control pul"%><br>
          </div>

          <%= f.submit "Submit", class: "btn btn-large btn-primary pull-right" %>

        <% end %>

        <div>

           <%= link_to 'Back', volunteer_path %> <br>
           <%= link_to 'Delete Profile', volunteer_path(@volunteer), method: :delete, data: {confirm: 'Are you sure you want to Delete your Account'} %>

        </div>


          </div>
        </div>
      </form>
    </div>
  </div>
</div>