<div class="container">

  <div class="search_bar">
      <%= bootstrap_form_for :search, layout: :inline, label_col: "col-sm-2", control_col: "col-sm-10", url: searches_path, method: :post do |f| %>

        <%= f.date_field :date %>

        <%= f.time_field :time_start %>

        <%= f.select(:commitment_type, commitment_array) %>

        <%= f.select(:state, state_array) %>

        <%= f.submit "Search", class: "btn btn-large btn-success"%>
      <% end %>
   </div>


   <div class="near_you">

     <h3>Invite Your friends</h3>
      <%= form_for :volunteer, url:  send_mail_path do |f| %>

        <%= f.label :from %>
        <%= f.email_field :from, placeholder: "john@gmail.com"  %>

        <%= f.label :to %>
        <%= f.email_field :to, placeholder: "sarah@gmail.com"  %>

        <%= f.submit "Invite friends", class: "btn btn-success" %>
      <% end %>


      <h2>Upcoming Opportunities</h2>
   </div>


    <% @events.order(:date).limit(3).each do |event| %>
     <div class="table">
        <div class="col-xs-6 col-md-4">
          <div class="thumbnail">
            <img src="http://2xxuz23rft0449gqis2s2t0l.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/gi-icon-hands-blue.png" height="500px" width="250px">
            <div class="caption">
              <div>
              <h3><%= event.name %></h3>

              <h4><%= event.organization.name %></h4>

              <% if event.commitment_type == "pro-bono" || event.commitment_type == "mentorhship" || event.commitment_type == "other" || event.commitment_type == "flexible" %>
              <h5>Ongoing</h5>
              <% else %>
              <h5><%= event.time_start.strftime("%l:%M %P") %> | <%= event.date.strftime("%a, %b %e, %Y ") %></h5>
              <% end %>

            <p><a href=<%= event_path(event) %> class="btn btn-default" role="button">Details</a></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>



</div>