<div class="banner">
  <p>Volunteering Made Easy</p>
</div>

<div class="search-bar">
  <ul>
    <li>date</li>
    <li>time</li>
    <li>location</li>
    <li>type</li>
  </ul>

  <!-- <form >
    <input type="text" name = "search_value" placeholder="French tutor...">
    <input type="submit" value="Search">
  </form> -->
  <%= form_for :search, url: searches_path, method: :post do |f| %>
    <%= f.label :entry %>
    <%= f.text_area :entry %>
    <p><%= f.submit %></p>
  <% end %>
</div>

<h2>Something Near You...</h2>

<div class="container">
  <% @events.order(:date).order(:time_start).reverse_order.limit(3).each do |event| %>
    <div>
      Event: <%= event.name %><br>
      Organization: <%= event.organization.name %><br>
      Date: <%= event.date %><br>
      Time: <%= event.time_start %>
    </div>
    <% end %>

</div>

<button>Explore</button>
