<div class="container">

  <div class="jumbotron">
    <div class="title_box">
      <h1>Volunteer.me</h1>
      <p>Volunteering made easy.</p>
    </div>

    <p><%= link_to 'Explore', events_path, class: "btn btn-success btn-lg" %></p>
  </div>

  <div class="search_bar">
      <%= bootstrap_form_for :search, layout: :inline, label_col: "col-sm-2", control_col: "col-sm-10", url: searches_path, method: :post do |f| %>

        <%= f.date_field :date %>

        <%= f.time_field :time_start %>

        <%= f.select(:commitment_type, commitment_array) %>

        <%= f.select(:state, state_array) %>

        <%= f.submit "Search", class: "btn btn-large btn-success"%>
      <% end %>
   </div>

  <center><h2>Something Near You...</h2></center>

    <% @events.order(:date).order(:time_start).reverse_order.limit(3).each do |event| %>
     <div class="table">
        <div class="col-xs-6 col-md-4">
          <div class="thumbnail">
            <img src="http://2xxuz23rft0449gqis2s2t0l.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/gi-icon-hands-blue.png">
            <div class="caption">
        <div>
        <h3><%= event.name %></h3>

        <h4><%= event.organization.name %></h4>

        <h5><%= event.time_start %></h5>

        <h5><%= event.date %></h5>

      <p><a href="#" class="btn btn-default" role="button">Details</a></p>
      </div>
    </div>
  </div>
  </div>
      <% end %>
  </div>

</div>