<h1>Volunteer Profile</h1>

<p>SUPERHERO PICTURE </p>
<p><%= @volunteer.name %></p>

<h4>Superpowers</h4>
<% @volunteer.superpowers.each do |power| %>
  <div>
    <%= power.name %>
  </div>
<% end %>

<h4>Commited events </h4>
<% if @events %>
  <% @volunteer.volunteer_events.where(commited?:true).each do |e| %>
    <div>
      <%= e.event.name %>
    </div>
  <% end %>
  <% else %>
  <p>You have not commited to any volunteering events yet. <%=link_to 'Search', events_path %> for some now!</p>
<% end %>
<div>
<% if volunteer_signed_in? %>
  <% if current_volunteer.id == @volunteer.id %>
    <h4>Bookmarked events <small>visible only to you </small></h4>
    <% if @events %>
      <% @volunteer.volunteer_events.where(commited?:false).each do |e| %>
        <div>
         <%= e.event.name %>
        </div>
      <% end %>
      <% else %>
      <p>You have not bookmarked events yet. <%=link_to 'Search', events_path %> for some now!
      </p>
      <% end %>
  <% end %>
<% end %>

</div>
<% if volunteer_signed_in?%>
  <% if current_volunteer.id == @volunteer.id %>
   <%= link_to 'Edit Profile', edit_volunteer_path(@volunteer) %>

    <%= link_to 'Delete Profile', volunteer_path(@volunteer), method: :delete %>
  <% end %>
<% end %>




