<div class = "container">

<h1>Volunteer Profile</h1>

<!-- playing -->

  <div class="row">
    <div class="col-md-8 col-xs-10">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="http://api.randomuser.me/portraits/women/21.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-8">
              <h2><%= @volunteer.name %></h2>
              <p><strong>Email: </strong> <%=@volunteer.name %> </p>

              <p><strong>SuperPowers: </strong>
                <% @volunteer.superpowers.each do |power| %>
                <ul>
                 <span class="label label-info tags"> <%= power.name %> </span>
                  <% if can? :update, power %>
                  <%= link_to 'Edit', edit_volunteer_superpower_path(power, :volunteer_id=>@volunteer.id) %>
                  <% end %>
                  <% if can? :destroy, power %>
                  <%= link_to 'Destroy', volunteer_superpower_path(power, :volunteer_id=>@volunteer.id),
                    method: :delete,
                    data: {confirm: 'Are you sure'} %></p>
                  <% end %>
                </ul>
                <% end %>

                <p><strong>Committed Events: </strong> here are your events </p>
                <% if @volunteer.volunteer_events  %>
                  <% @volunteer.volunteer_events.where(commited?:true).each do |e| %>
                    <div>
                     <%= link_to e.event.name, event_path(e.event) %>
                    </div>
                  <% end %>
                <% else %>
                  <p>You have not commited to any volunteering events yet. <%=link_to 'Search', events_path %> for some now!</p>
                <% end %>

              <% if volunteer_signed_in? %>
                <% if current_volunteer.id == @volunteer.id %>
                  <p><strong>Bookmark Events: <small>visible only to you </small> </strong> here are your events </p>
                  <% if @volunteer.volunteer_events  %>
                    <% @volunteer.volunteer_events.where(commited?:false).each do |e| %>
                       <%= link_to e.event.name, event_path(e)%>
                    <% end %>
                  <% else %>
                    <p>You have not bookmarked events yet. <%=link_to 'Search', events_path %> for some now!</p>
                  <% end %>
                <% end %>
              <% end %>

              <% if volunteer_signed_in?%>
                <% if current_volunteer.id == @volunteer.id %>
                  <%= link_to 'Edit Profile', edit_volunteer_path(@volunteer) %>
                  <%= link_to 'Delete Profile', volunteer_path(@volunteer), method: :delete %>
                <% end %>
              <% end %>

              </div>
            </div>
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
  </div>
  <!--/row-->
















